:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --primary-color: #7c3aed;
  --secondary-color: #a78bfa;
  --accent-color: #d8b4fe;
  --dark-color: #1f2937;
  --light-color: #f9fafb;
  --white-color: #ffffff;
  --danger-color: #ef4444;
  --success-color: #10b981;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}